{% extends 'registration/base.html' %}




{% block title %} {% block title-meta %}
تغییر گدرواژه
{% endblock %} {% endblock %}


{% block main %}
<div class="row">
    <div class="col-8 text-center mx-auto">
      <div class="card mx-auto">
        <div class="card-header bg-danger">
          

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
            تغییر گذرواژه
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              
            </thead>
            <tbody>
                <form method="post" class="">{% csrf_token %}
                    <p class="py-4">گذرواژه شما با موفقیت انجام شد</p>
                   
                    
                </form>
              
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

{% endblock %}